.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60px;

}

.footer__rigths{
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}